<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 内网正式连接 -->
		<!--<add key="RabbitMQ_HostName" value="192.168.0.53"></add>
		<add key="RabbitMQ_UserName" value="admin"></add>
		<add key="RabbitMQ_PassWord" value="tw369.com"></add>
		<add key="SqlServer_Config" value="Connect Timeout=60;Connection Lifetime=60;Max Pool Size=512;Min Pool Size=0;Pooling=true;data source=192.168.0.247;initial catalog=PMS_Base;PWD=LF123SPoss;persist security info=False;user id=LFUser;packet size=4096"/>-->

		<!-- 外网正式连接 -->
		<add key="RabbitMQ_HostName" value="124.70.21.38"></add>
		<add key="RabbitMQ_UserName" value="admin"></add>
		<add key="RabbitMQ_PassWord" value="tw369.com"></add>
		<add key="SqlServer_Config" value="Connect Timeout=60;Connection Lifetime=60;Max Pool Size=512;Min Pool Size=0;Pooling=true;data source=124.70.15.185;initial catalog=PMS_Base;PWD=LF123SPoss;persist security info=False;user id=LFUser;packet size=4096"/>

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>