<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="logLayout"
		   value="Logger：${logger}${newline}Date：${longdate} Level：${uppercase:${level}}${newline}Message：${message} ${newline}${onexception:Exception：${exception:format=toString}${newline}}" />

	<targets>
		<!--此部分中的所有目标将自动异步-->
		<!--concurrentWrites:支持多个并发一起写文件，提高文件写入性能。-->

		<default-wrapper xsi:type="AsyncWrapper"></default-wrapper>
		<target name="info" xsi:type="File"
				fileName="${basedir}/Logs/${level}/${shortdate}.txt"
				layout="${date:HH\:mm}: ${message}"
				archiveFileName="${basedir}/Logs/${level}/${shortdate}.{#####}.txt"
				archiveAboveSize="1024000"
				concurrentWrites="true"
				keepFileOpen="true"
				encoding="utf-8"
				openFileCacheTimeout="30"/>

		<target name="error" xsi:type="File"
				fileName="${basedir}/Logs/${level}/${shortdate}.txt"
				layout="${date:HH\:mm}: ${message} ${onexception:${exception:format=message} ${newline} ${stacktrace} ${newline}"
				archiveFileName="${basedir}/Logs/${level}/${shortdate}.{#####}.txt"
				archiveAboveSize="1024000"
				concurrentWrites="true"
				keepFileOpen="true"
				encoding="utf-8"
				openFileCacheTimeout="30"/>
		
		<!-- 彩色控制台输出 -->
		<target name="console" xsi:type="ColoredConsole"
				layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${exception:format=ToString}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White"/>
		</target>
	</targets>
	<rules>
		<!-- 控制台输出所有级别日志 -->
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="info" />
		<logger name="*" minlevel="Error" writeTo="error" />
	</rules>
</nlog>







